.header {
  position: relative;
  //hamburger Open style
  &.open {

    .header__menu {
      > span:first-child {
        transform: rotate(45deg);
      }

      > span:nth-child(2) {
        opacity: 0;
      }

      > span:last-child {
        transform: rotate(-45deg);
      }
    }
  }

  .overlay {
    visibility: hidden;
    position: fixed;
    top: 3.75rem;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient($darkBlue, transparent);
  }

  nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding-top: 1.0625rem;
    padding-bottom: 1.0625rem;
    z-index: 99;
    background-color: $White;
  }

  &__logo {
    img {
      width: 8.8125rem;
      height: 1.25rem;
    }
  }

  &__toggle {
    span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $darkBlue;
      transform-origin: 3px 1px;
      transition: all 300ms ease-in-out;

      &:not(last-child) {
        margin-bottom: 5px;
      }
    }
  }

  &__menu {
    visibility: hidden;
    background: $White;
    padding: 1.625rem;
    border-radius: 5px;
    position: absolute;
    width: calc(100% - 3rem);
    left:50%;
    transform: translateX(-50%);
    margin-top: 24px;

    a {
      display: block;
      color: $darkBlue;
      padding: 0.625rem;
      text-align: center;
    }
  }

  &__links {
    a {
      font-size: $font-small;
      position: relative;
      color: $grayishBlue;
      transition: color 300ms ease-in-out;

      &:not(:last-child) {
        margin-right: 32px;
      }

      &::before {
        content: "";
        position: absolute;
        display: block;
        background: linear-gradient(to right, $limeGreen, $brightCyan);
        opacity: 0;
        width: 100%;
        height: 5px;
        left: 0;
        right: 0;
        bottom: -30px;
        transition: opacity 300ms ease-in-out;
      }

      &:hover {
        color: $darkBlue;

        &::before {
          opacity: 1;
        }
      }
    }
  }

  &__cta {
    color: $White !important;
    transition: opacity 300ms ease-in-out;

    &:hover {
      opacity: 0.75;
    }
  }
}
